/*Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*-------------------------------*/

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
}

/* header */

.header {
    color: #F7F7F7;
    letter-spacing: 0.02em;
}

.header-content {
    position: relative;
}

.first-line {
    position: absolute;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */

.logo-block {
    display: flex;
    align-items: center;
}

.logo-block img {
    padding-left: 3px;
    margin-right: 15.73px;
    width: 68.2px;
    height: 58.43px;
}

.logo-block h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7F7F7;
    letter-spacing: .0em;
}

/* nav  */

.navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-transform: capitalize;
}

.navigation-list img {
    cursor: pointer;
}

.navigation-list li {
    padding-left: 63px;
    letter-spacing: 0.1px
}

.navigation-list li:nth-child(3) {
    padding-left: 67px;
}

.navigation-list li a {
    text-decoration: none;
    color: #F7F7F7;
}

.sign-in-button {
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #CD6326;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    font-size: 23px;
    font-weight: 400;
    transition: .3s;
}

.sign-in-button:hover {
    background-color: #D06227;
    border: 2px solid #D06227;
    transition: .3s;
}

.sign-in-button:active {
    background-color: #8E5613;
    border: 2px solid #8E5613;
}

/* main-greeting */

.info-section {
    padding-top: 213px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #F7F7F7;
}

.info-section h1 {
    margin-bottom: 62px;
    font-size: 48px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #CD6326;
}

.info-section p {
    margin-bottom: 49px;
    font-size: 18px;
    max-width: 274px;
    line-height: 27px;
    letter-spacing: .002em;
}

.info-section button {
    padding-bottom: 4px;
    width: 160px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    font-size: 22px;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: #CD6326;
    transition: .3s;
}

.info-section button:hover {
    background-color: #E7902A;
    transition: .3s;
}

.info-section button:active {
    background-color: #8F5613;
}

.main-greeting {
    min-height: 780px;
    min-width: 1440px;
    background-image: url("/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* main  */

.latest-article {
    width: 100%;
    min-width: 1440px;
    background-color: #CCCCCC;
}

.main-info {
    padding-top: 133px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: .05em;
}

.main-info h2 {
    margin-bottom: 37px;
    font-size: 48px;
    letter-spacing: .002em;
    color: #333333;
}

.main-info p {
    padding-bottom: 126px;
    font-size: 24px;
    letter-spacing: .00em;
    color: #666666;
}

/* text-form */

.text-form-block {
    padding-top: 245px;
    padding-bottom: 240px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 27px;
    letter-spacing: .02em;
}

.text-form-block p {
    padding-bottom: 68px;
    letter-spacing: .002em;
}

/* form block */

.form-block {
    height: 60px;
    display: flex;
    justify-content: center;
}

.email {
    padding-top: 1px;
    padding-left: 15px;
    width: 540px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    background-color: transparent;
    border: 1px solid #666666;
    border-right: none;
}

.submit-button {
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    color: #F7F7F7;
    font-size: 23px;
    text-transform: capitalize;
    background-color: #CD6326;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: .3s;
}

.submit-button:hover {
    background-color: #E6921F;
    transition: .3s;
}

.submit-button:active {
    background-color: #8F5613;
}

/* footer */

.footer {
    min-width: 1440px;
    min-height: 359px;
    background-image: url("/images/Rectangle_\(3\).jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-inner {
    min-height: 360px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

/* footer nav  */

.footer-nav {
    margin-left: 123px;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #F7F7F7;
    letter-spacing: .00em;
}

.footer-nav ul {
    display: flex;
    margin-left: 15px;
}

.footer-nav a {
    color: #F7F7F7;
}

.footer-nav li {
    padding-right: 88px;
}

.footer-nav ul li:last-child {
    padding-right: 0;
}

/* footer social  */

.social-icons {
    margin-left: auto;
}

.social-icons a {
    padding-right: 22.3px;
}

.social-icons a:last-child {
    padding-right: 0px;
}